services:
  web:
    build: .
    container_name: sicunet_web
    volumes:
      - .:/app
      - sqlite_data:/app/data
    ports:
      - "8000:8000"
    env_file:
      - .env

volumes:
  sqlite_data:
